<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <sectionGroup name="imageProcessor">
      <section name="security" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageSecuritySection, ImageProcessor.Web" />
      <section name="processing" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageProcessingSection, ImageProcessor.Web" />
      <section name="caching" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageCacheSection, ImageProcessor.Web" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- Configuration des chaines de connexion SQL Server -->
  <connectionStrings>
    <!--LOCAL MACHINE -->
    <add name="DomainContext" providerName="System.Data.SqlClient" connectionString="Data Source=I0150;Initial Catalog=_PROD;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework" />
   
    <add name="DirectoryServices" connectionString="" />
  </connectionStrings>
  <!-- Configuration clé/valeurs de l'application -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApplicationDefaultLangName" value="fr-FR" />
    <add key="ApplicationDefaultUserRole" value="Visitor" />
    <add key="ApplicationIsOpenMode" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="180"></sessionState>
    <customErrors mode="Off" />
    <!-- Form auth -->
    <authentication mode="Windows">
      <!-- Windows auth -->
      <!--<authentication mode="Windows">-->
      <forms loginUrl="~/User/LogOn" defaultUrl="~/" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576000" executionTimeout="360" fcnMode="Single" />
    <globalization uiCulture="fr-FR" culture="fr-FR" />

    <httpModules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules>
	
	    <healthMonitoring enabled="true" heartbeatInterval="1">
      <bufferModes>
        <add name="Notification Level 1" maxBufferSize="1" maxFlushSize="1" urgentFlushThreshold="1" regularFlushInterval="00:00:10" urgentFlushInterval="00:00:5" maxBufferThreads="1" />
      </bufferModes>
      <providers>
        <add name="CriticalMailEventProvider" type="System.Web.Management.SimpleMailWebEventProvider, System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" from="AHFACTORY@bayer.com" to="agautier@ftel.fr" bodyHeader="Un évenement est survenu sur l'application AH FACTORY INTERNE." bodyFooter="Please investigate ASAP." subjectPrefix="[AH FACTORY] " buffer="false" bufferMode="Notification Level 1" maxMessagesPerNotification="1" />
      </providers>
      <rules>
        <add name="Errors to Mail" eventName="All Errors" provider="CriticalMailEventProvider" />
      </rules>
    </healthMonitoring>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Configuration de l'authentification -->
  <system.webServer>
    <!-- <caching enabled="true" enableKernelCache="true">
    </caching> -->
    <security>
            <authentication>
                <windowsAuthentication enabled="true">
                    <providers>
                        <clear />
                        <add value="NTLM" />
                    </providers>
                </windowsAuthentication>
                <anonymousAuthentication enabled="false" />
            </authentication>
	<requestFiltering>
		<requestLimits maxAllowedContentLength="1048576000" />
	</requestFiltering>
        </security>


    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </modules>
  </system.webServer>
  <!-- Configuration du SMTP -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="by-smtp.de.bayer.cnb" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <imageProcessor>
    <security configSource="config\imageprocessor\security.config" />
    <caching configSource="config\imageprocessor\cache.config" />
    <processing configSource="config\imageprocessor\processing.config" />
  </imageProcessor>

</configuration>
