<h3><i class="fa fa-file-image-o"></i> @LangHelper.Translate("default.thumbnail")</h3>
<img src="@Url.Content(ParameterHelper.DefaultThumbnailPdfUrl + "?width=300")" width="200" style="width:100%"/>
@using (Html.BeginForm("DefaultThumbnailImage", "Parameter", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="mar-bottom">
        @(Html.Kendo().Upload()
            .Name("File")
            .Multiple(false)
            .Async(a => a.AutoUpload(false))
            .DropZone(".dropzone-zone")
            .Validation(validation =>
            {
                validation.MinFileSize(0);
            })
        )
    </div>
    <div class="text-right">
        <button type="submit">@Html.Lang("update")</button>
    </div>
}
