@model ForgotPasswordResetModel
@{
    Layout = "~/Views/Shared/_LogOnLayout.cshtml";
    var id = Html.RandomID();
}

<div class="row">
    <div class="small-12 medium-5 large-4 medium-centered columns">
        <div class="logon-form">
            <div class="email-login">
                @using (Html.BeginForm("ForgotPasswordReset", "User", new { area = "" }, FormMethod.Post, new { id }))
                {
                    @Html.HiddenFor(m => m.Key)
                    @Html.FTELEditorFor(m => m.Password)
                    @Html.FTELEditorFor(m => m.PasswordConfirm)

                    <div class="text-right">
                        <button type="submit" class="button">@Html.Lang("forgot.password.create.new.button.text")</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#@(id)").ftelvalidation();
    })
</script>