<div class="row document-details-archived">
    <div class="small-12 column">
        <div class="callout"><i class="fa fa-archive"></i> @Html.Lang("document.is.archived.details")</div>
    </div>
</div>