@import "../foundation/scss/foundation";
@import "../variables";

.document-details-archived {
    .callout {
        background: transparentize(#555, 0.2);
        color: #fff;
        border: 1px solid #555;
        text-align: center;
    }
}

.k-mediaplayer {
    width: 100% !important;
    height: 100% !important;
    background: #000;
    border: none;
}

.document-source-container {
    .source-file-content-title-container {
        display: inline-block;
        line-height: 1;
        max-width: 100%;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        margin-bottom: -$global-margin/3;

        .source-file-content-title {
            font-size: $global-font-size*0.75;
            text-transform: uppercase;
            float: left;
            padding-right: $global-padding/3;
            margin-bottom: $global-margin/3;
        }

        .source-file-content-title-name {
            font-weight: bold;
            display: inline-block;
            text-transform: uppercase;
            font-size: $global-font-size*0.75;
            float: left;
            max-width: 100%;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }

    .source-file-ul-container {
        background: #f1f1f1;
        border: 1px solid #ccc;
        margin-bottom: $global-margin/2;
        padding: $global-padding/2 $global-padding/2 $global-padding/2 $global-padding/2;

        ul {
            margin: 0;
            list-style: none;

            li {
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:before {
                    content: "• ";
                }
            }
        }
    }
}

.document-details {

    .edit-button {
        float: right;
        margin: 0;
    }

    .img-filename-container {
        position: relative;

        img {
            width: 100%;
        }

        .filename {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            border-left: 1px solid $document-border-color;
            border-bottom: 1px solid $document-border-color;
            z-index: 10;
            background: $document-type-bg-color;
            color: $document-type-text-color;
            padding: 0rem 0.2rem;
            font-size: $global-font-size*0.65;
            text-transform: uppercase;
            opacity: 0.8;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}
